<nav class="site-nav" id="nav" ng-controller="NavbarCtrl">
    <h1 class="main-logo">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </h1>
    <div class="nav-container">
        <a class="nav-button" ng-click="toggleNav1();">
            <span class="nav-button--text">Menu</span>
        </a>

        <!--<div id="navListWrapper" class="fadeout">-->
            <ol class="site-nav--list">
                <li class="site-nav--item">
                    <a href="#/team" tabindex="1" class="site-nav--link">Team</a>
                </li>
                <li class="site-nav--item">
                    <a href="#/work" tabindex="1" class="site-nav--link">Work</a>
                </li>
                <li class="site-nav--item">
                    <a href="#/marketdata" tabindex="1" class="site-nav--link">Market Data</a>
                </li>
                <li class="site-nav--item">
                    <a href="#/contact" tabindex="1" class="site-nav--link">Contact</a>
                </li>
            </ol>
        <!--</div>-->
    </div>
</nav>
