/*
This is the standard header, including navigation and a logo. Used at the top of most pages of the site.

Styleguide 1.1
*/
.site-header {
    background: $c-bg-primaryDark;
    color: white;
    @include clearfix;
}

.main-logo {
    font-size: 100%;
    margin: 0;
    font-weight: normal;
    float: left;
    padding: 10px;
}

/*.main-logo--link {
    color: white;
    text-decoration: none;
    display: table;
    padding: 10px;

    @include sb-media(38em) {
        padding: 20px;
    }
}*/

.nav-button {
    @include rem(letter-spacing, .2);
    @include rem(margin, 1.15, .5, 0, 0);
    text-decoration: none;
    float: right;

    @include sb-media(38em) {
        display: none;
    }
}

.nav-button--text {
    @include rem(font-size, .8125);
    @extend %font-primary;
    text-transform: uppercase;

    &:after {
        content: " \25BC";
        /*color: white;
        font-size: .75em;
        vertical-align: middle;*/

        .nav-button--open & {
            content: " \25B2";
        }
    }

    .home-header & {
        color: $c-bg-primaryDark;

        &:after {
            color: $c-bg-primaryDark;
        }
    }
}

/*.site-nav{
    &:after{
        -webkit-transition: width 200ms ease-in,left 200ms ease-in,right 200ms ease-in;
    -moz-transition: width 200ms ease-in,left 200ms ease-in,right 200ms ease-in;
    -o-transition: width 200ms ease-in,left 200ms ease-in,right 200ms ease-in;
    transition: width 200ms ease-in,left 200ms ease-in,right 200ms ease-in;
    content: '';
    display: block;
    border-bottom: 0.125em solid #c7ecf2;
    width: 0;
    height: .125em;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    z-index: 1;
    margin: 0 auto;
    }
    .site-nav--open{
        &:after{
            width:100%;
            left:0;
            right:0;
        }
    }
}*/

.site-nav--list {
    -webkit-transition: height 250ms linear,padding-top 100ms ease-in-out,padding-bottom 100ms ease-in-out;
    -webkit-transition-delay: 200ms,200ms,200ms;
    -moz-transition: height 250ms linear 200ms,padding-top 100ms ease-in-out 200ms,padding-bottom 100ms ease-in-out 200ms;
    -o-transition: height 250ms linear 200ms,padding-top 100ms ease-in-out 200ms,padding-bottom 100ms ease-in-out 200ms;
    transition: height 250ms linear 200ms,padding-top 100ms ease-in-out 200ms,padding-bottom 100ms ease-in-out 200ms;
    height:0;
    @include rem(padding, 0, .75);
    list-style: none;
    margin: 0;
    @include box-sizing(border-box);
    clear: both;
    background: rgba(199, 236, 242, 1);
    overflow:hidden;
    

    @include sb-media(38em) {
        @include rem(margin, 1.75, 1, 0, 0);
        padding: 0;
        display: inline;
        background: none;
        float: right;
        clear: none;
        height:auto;
    }
}

.site-nav--item {
    vertical-align: middle;
    line-height: 1em;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: opacity 250ms ease-in,-webkit-transform 250ms ease-in;
    -webkit-transition-delay: 250ms,250ms;
    transition-delay: 250ms, 250ms;
    -moz-transition: opacity 250ms ease-in 250ms,-moz-transform 250ms ease-in 250ms;
    -o-transition: opacity 250ms ease-in 250ms,-o-transform 250ms ease-in 250ms;
    transition: opacity 250ms ease-in 250ms,transform 250ms ease-in 250ms;

    @include sb-media(38em) {
        display: inline-block;
        text-align: center;
        opacity:1;
    }
}

.no-js #nav:target .site-nav--list, .site-nav--list.site-nav--display {
    @include rem(padding, .75);
        height:14.5em;
        overflow:visible;

    @include sb-media(38em) {
        height:auto;
    }
}

.no-js #nav:target .site-nav--item, .site-nav--display .site-nav--item {
    opacity: 1;
}

.site-nav--link {
    @extend %font-primary;
    display: inline-block;
    @include rem(padding, .75, .125);
    color: $c-tx-dark;
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: .2em;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1em;
    position: relative;

    &:after {
        content: '';
        margin: 0 auto;
        border-bottom: 0.125em solid #1c4c54;
        position: absolute;
        opacity: 0;
        bottom: 0.25em;
        left: 50%;
        right: 50%;
        -webkit-transition: left 250ms ease-in-out,right 250ms ease-in-out;
        -moz-transition: left 250ms ease-in-out,right 250ms ease-in-out;
        -o-transition: left 250ms ease-in-out,right 250ms ease-in-out;
        transition: left 250ms ease-in-out,right 250ms ease-in-out;
    }

    &:hover {
        &:after {
            opacity: 1;
            left: 0.125rem;
            right: 0.125rem;
        }
    }

    @include sb-media(38em) {
        @include rem(padding, .725, .125);
        font-size: .95em;
        color: #fff;

        &:after{
            border-bottom: 3px solid white;
        }
    }
}
